.ab-banner .swiper {
    width: 240px;
    height: 320px;
}

.ab-banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.ab-banner .swiper-slide:nth-child(1n) {
    /* background-color: rgb(206, 17, 17); */
    background-image: url('src/assets/Books_images/book1.png');
    background-size: cover;

}

.ab-banner .swiper-slide:nth-child(2n) {
    /* background-color: rgb(0, 140, 255); */
    background-image: url("src/assets/Books_images/book2.png");
    background-size: cover;

}

.ab-banner .swiper-slide:nth-child(3n) {
    /* background-color: rgb(10, 184, 111); */
    background-image: url(" src/assets/Books_images/book3.png");
    background-size: cover;

}

.ab-banner .swiper-slide:nth-child(4n) {
    /* background-color: rgb(211, 122, 7); */
    background-image: url(" src/assets/Books_images/book4.png");
    background-size: cover;

}

.ab-banner .swiper-slide:nth-child(5n) {
    /* background-color: rgb(118, 163, 12); */
    background-image: url(" src/assets/Books_images/book5.png");
    background-size: cover;

}

.ab-banner .swiper-slide:nth-child(6n) {
    /* background-color: rgb(180, 10, 47); */
    background-image: url(" src/assets/Books_images/book6.png");
    background-size: cover;

}

.ab-banner .swiper-slide:nth-child(7n) {
    background-size: cover;
    background-image: url(" src/assets/Books_images/book7.png");

    /* background-color: rgb(35, 99, 19); */
}

/* .ab-banner .swiper-slide:nth-child(8n) {
    /* background-color: rgb(0, 68, 255); 
    background-image: url(" public/Books_images/book1.png");

}

.ab-banner .swiper-slide:nth-child(9n) {
    /* background-color: rgb(218, 12, 218); 
    background-image: url(" public/Books_images/book1.png");

}

.ab-banner .swiper-slide:nth-child(10n) {
    /* background-color: rgb(54, 94, 77); 
    background-image: url(" public/Books_images/book1.png");

} */